@model IEnumerable<WebAppMBO.Models.Musica>

@{
    ViewBag.Title = "Lista de música";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nova música", "Create")
</p>

@if (TempData["Mensagem"] != null)
{
    <p class="alert-success">@TempData["Mensagem"]</p>
}

    <table class="table">
     <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMidia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th></th>
        </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMidia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</tbody>

</table>

@section scripts {
    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />

    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
       $(document).ready(function () {
           $('table').dataTable({
               "order": [[2, "asc"]],
               "language": {
                   "url": "@Url.Content("~/scripts")/PTBR.json"
               }
           });
       });
    </script>

}
